@import-normalize;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100vh;
}

main {
  overflow-y: auto;
}

.App {
  display: flex;
  height: 100%;
}

@media (max-width: 500px) {
  .App {
    flex-direction: column-reverse;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
}

.Sidebar {
  background-color: lightcoral;
  display: flex;
}

a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }